@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    background: darkgray;
}

header {
    background: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 6vw;
    font-family: Arial, Helvetica, Sans-Serif;
}

header > p {
    padding-bottom: 50px;
    font-size: 2vw;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bolder;
    font-size: 4vw;
}

section > p {
    padding-bottom: 5vh;
}

section.normal {
    background: white;
    color: #373737;
}

section.image {
    background: #373737;
    color: white;
    background-size: cover;
    background-attachment: fixed;
}

section.image > p {
    display: inline-block;
    padding: 10px;
    background: #0000006a;
    backdrop-filter: blur(6px);
    box-shadow: 0 0 40px #00000093;
}

#parallax-fx1 {
    background-image: url('images/background001.jpg');
    background-position: right bottom;
}

#parallax-fx2 {
    background-image: url('/mages/background002.jpg');
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

footer a {
    text-decoration: underline;
}